<form action="/api/books" method="post">
  <p>Создать новую книгу </p>
  <div>
      <label>Введите название:</label>
      <input type="text" name="title" /><br />
  </div>
  <div>
      <label>Введите Описание:</label>
      <input type="text" name="description" />
  </div>
  <div>
      <label>Введите Автора:</label>
      <input type="text" name="author" />
  </div>
  <div>
      <input type="submit" value="Создать книгу" />
  </div>
</form>