<p>Изменить книгу </p>
<div>
    <label>Введите новое название:</label>
    <input type="text" name="title" /><br />
</div>
<div>
    <label>Введите новое Описание:</label>
    <input type="text" name="description" />
</div>
<div>
    <label>Введите новго Автора:</label>
    <input type="text" name="author" />
</div>
<div>
    <input type="submit" value="Обновить книгу" />
</div>
</form>